@import '../../../../styles.scss';

mat-toolbar {
  padding: $default-0 !important;

  & button {
    color: $base;
  }
}
.toolbar-background {
  width: $percentage-100;
  background: $secondary !important;
}

li {
  border-radius: $space-08;
  margin: $default-0 $space-08;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  & a {
    color: $base !important;
  }
}

li:hover, li:active {
  background-color: $secondary-light;
  transition: $transition-02s;

  & a {
    color: $white !important;
  }
}

span {
  margin-left: $space-05;
}
