@import '../styles.scss';

.mat-sidenav-container, .mat-sidenav-content, .mat-sidenav, .mat-nav-list {
  height: $percentage-100;
}

.mat-sidenav {
  width: $frame-space-250;
  padding: $space-15;
  margin: $default-0;
  background-color: $background-1;
  box-shadow: 4px 4px 10px rgba(69,65,78,.06);
}

.mat-drawer-container {
  position: static !important;
}
