$primary: #2099d8;
$primary-light: #20d6d8;
$primary-dark: #156aa7;

$secondary: #145b8d;
$secondary-light: #104b6b;
$secondary-dark: #121e36;

$text-primary-light: #a6b1be;
$text-primary-dark: #576987;

$text-secondary-light: #ffb000;
$text-secondary-dark: #bf8200;

$white: #FFFFFF;
$background-1: #fdfdfd;
$background-2: #f5f5f9;

$base: #fafafa;
$base-light: #f5f5f9;
$base-dark: #a6b1be;

$error: #c5084d;
$error-ligh: #f2ccda;

$success: #07c39a;
$success-ligh: #cdf9ef;

$shadow-1: rgba(0, 0, 0, 0.35) 0px 8px 24px;
$shadow-2: rgba(100, 104, 111, 0.2) 0px 7px 29px 0px;

$separator-line: #f5f5f9;

$font-family-ubuntu: 'Nova Round', sans-serif;
$font-family-roboto: 'Roboto', Helvetica, sans-serif;

$animation-2s: 200ms;
$transition-02s: 0.2s;
$opacity-05: .5;

$default-0: 0px;

$frame-space-500: 500px;
$frame-space-450: 450px;
$frame-space-400: 400px;
$frame-space-350: 350px;
$frame-space-300: 300px;
$frame-space-250: 250px;
$frame-space-200: 200px;
$frame-space-150: 150px;
$frame-space-100: 100px;
$frame-space-050: 50px;
$frame-space-025: 25px;

$space-30: 30px;
$space-25: 25px;
$space-20: 20px;
$space-18: 18px;
$space-15: 15px;
$space-12: 12px;
$space-10: 10px;
$space-08: 8px;
$space-05: 5px;

$percentage-100: 100%;
$percentage-075: 75%;
$percentage-050: 50%;
$percentage-030: 30%;
$percentage-025: 25%;
$percentage-020: 20%;
$percentage-015: 15%;
$percentage-010: 10%;
$percentage-005: 5%;

$font-size-22: 22px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;
$font-size-10: 10px;
$font-size-08: 8px;
